
# Configurações do Servidor HTTP
HOST=localhost
PORT=:8080
ENV=development

# Configuração do Banco de Dados SQLite
DB_PATH=./data/kanban.db

# URL base para consumo da API Go
VITE_API_URL=http://localhost:8080

CORS_ALLOWED_ORIGINS=http://localhost:5173